
.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }
  
  .btn-primary,
  .bg-primary,
  .badge-primary,
  .alert-primary {
    background: var(--primary-color);
    color: #fff;
  }
  
  .btn-light,
  .bg-light,
  .badge-light,
  .alert-light {
    background: var(--light-color);
    color: #333;
  }
  
  .btn-dark,
  .bg-dark,
  .badge-dark,
  .alert-dark {
    background: var(--dark-color);
    color: #fff;
  }
  
  .btn-danger,
  .bg-danger,
  .badge-danger,
  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }
  
  .btn-success,
  .bg-success,
  .badge-success,
  .alert-success {
    background: var(--success-color);
    color: #fff;
  }
  
  .btn-white,
  .bg-white,
  .badge-white,
  .alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
  }
  
  /*Maintainence Component CSS*/
  .maintenance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;
  }
  
  .maintenance-content {
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .maintenance h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .maintenance p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  